<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="{% static "app/css/log_reg.css" %}"  rel="stylesheet" type="text/css">
</head>
<body>
<div class="log_form">
<form method="post" >
    {% csrf_token %}
    <div class="form-error">{{ form.non_field_errors }}</div>

{% for f in form %}
<p><label class="form-label" for="{{ f.id_for_label }}">{{f.label}}: </label>{{ f }}</p>
<div class="form-error">{{ f.errors }}</div>
{% endfor %}
    <button type="submit" class="button_log">Войти</button>
</form>
<a href="{% url "register" %}" class="reg_button">Регистрация</a>
</div>
</body>
</html>