<!DOCTYPE html>
<html lang="kk">

<head>
    <meta charset="UTF-8">
    <title>DANASHOP</title>
    <link rel="stylesheet" href="../../static/app/css/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
        rel="stylesheet">
    <script src="https://kit.fontawesome.com/b6c6614eab.js" crossorigin="anonymous"></script>
</head>

<body>

    <div class="window-sign">
        <div class="logotip"><img class="logotip-img" src="C:\Users\artus\OneDrive\Рабочий стол\Сән тауарларын сатуға арналған веб\Сән тауарларын сатуға арналған веб\img\logo.png"></div>
        <div class="close-window" id="close-window-double"><a href="#">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
              <path fill="#000" d="M9.414 8l4.293-4.293a1 1 0 0 0-1.414-1.414L8 6.586 3.707 2.293a1 1 0 0 0-1.414 1.414L6.586 8l-4.293 4.293a1 1 0 0 0 1.414 1.414L8 9.414l4.293 4.293a1 1 0 0 0 1.414-1.414L9.414 8z"/>
            </svg>
          </a>
          </div>
          <h1 class="S-in">Регистрация</h1>
        <div class="Inputs">  
            <input placeholder="Name" type="name" id="input" class="input-name"><br><br>          
            <input placeholder="Email" type="email" id="input" class="input-email"><br><br>
        <input placeholder="Password" type="password" id="input" class="input-password"><br><br>
            <input placeholder="Dual password" type="password" id="input" class="double-input-password"><br><br>
        </div>
        <div class="InputsDuo">
            <input placeholder="Password" type="password" id="input" class="input-password"><br><br>
            <input placeholder="Dual password" type="password" id="input" class="double-input-password"><br><br>
        </div>
        <div class="restore">
            <a href="helpDANA.com" class="restore-accaunt-password" id="restore-accaunt">Забыли пароль</a>
            <a href="helpDANA.com" class="restore-accaunt-email" id="restore-accaunt">Забыли почту</a>
        </div>
        <div class="Buttons">
            <button class="button-s-in-end" id="button2">Зарегистрироваться</button><br><br>
            <button class="button-l-in-end" id="button2">Уже есть аккаунт</button>
        </div>        
    </div>

    <header class="header">
        <div class="conteiner">
            <div class="header-flex">
                <div class="header-left">
                    <a href="{% url "home" %}" class="logo-link">
                        <img class="logo-img" src="../../static/app/img/logo.png" alt="logo">
                        <p class="logo__header">DANA<span class="red-text">SHOP</span></p>
                    </a>
                    <div class="browse-button">

                        <a href="#" class="header-browse">Қарау
                            <i class="fas fa-caret-down"></i>
                        </a>
                        <div class="browse-menu">
                            <div class="mega-flex">
                                <h3 class="mega-head">Әйелдер</h3>
                                <ul>
                                    <li class="mega-menu-list "> <a class="mega-menu-link link_red" href="#">Көйлектер</a>
                                    </li>
                                    <li class="mega-menu-list"> <a class="mega-menu-link link_red" href="#">Топстар</a>
                                    </li>
                                    <li class="mega-menu-list"> <a class="mega-menu-link link_red"
                                            href="#">Жемпірлер/Тоқылған киімдер</a> </li>
                                    <li class="mega-menu-list"> <a class="mega-menu-link link_red"
                                            href="#">Курткалар/Коутстар</a> </li>
                                    <li class="mega-menu-list"> <a class="mega-menu-link link_red" href="#">Блейзерлер</a>
                                    </li>
                                    <li class="mega-menu-list"> <a class="mega-menu-link link_red" href="#">Denim</a>
                                    </li>
                                    <li class="mega-menu-list"> <a class="mega-menu-link link_red"
                                            href="#">Леггинстер/Шалбарлар</a></li>
                                    <li class="mega-menu-list"> <a class="mega-menu-link link_red"
                                            href="#">Юбкалар/Шортылар</a></li>
                                    <li class="mega-menu-list"> <a class="mega-menu-link link_red"
                                            href="#">Аксессуарлар</a></li>

                                </ul>
                                <h3 class="mega-head">Ерлерге</h3>
                                <ul>
                                    <li class="mega-menu-list"> <a class="mega-menu-link link_red" href="#">Тройниктер/Tank
                                            Топстар</a> </li>
                                    <li class="mega-menu-list"> <a class="mega-menu-link link_red"
                                            href="#">Жейделер/Пололар</a> </li>
                                    <li class="mega-menu-list"> <a class="mega-menu-link link_red" href="#">Жемпірлер</a>
                                    </li>
                                    <li class="mega-menu-list"> <a class="mega-menu-link link_red"
                                            href="#">Толстовкалар/Футболкалар</a> </li>
                                    <li class="mega-menu-list"> <a class="mega-menu-link link_red" href="#">Блейзерлер</a>
                                    </li>
                                    <li class="mega-menu-list"> <a class="mega-menu-link link_red"
                                            href="#">Курткалар/жилеттер</a> </li>
                                </ul>


                            </div>
                        </div>
                    </div>

                    <input class="header-input" type="text" placeholder="Search for Item...">
                    <button class="header-button" type="submit">
                        <img src="../../static/app/img/Q.png" alt="Q">
                    </button>

                </div>

                <div class="header-right">
                    <img src="../../static/app/img/cart.svg" alt="cart">
                    <a href="#" class="my-acc link_background">Менің аккаунтым
                        <i class="fas fa-caret-down"></i>

                    </a>
                    <div class="cart-menu">
                        <div class="cart-product">
                            <a href="{% url "single" %}" class="cart-content">
                                <img src="../../static/app/img/cart-photo1.jpg" alt="product">
                                <div class="cart-text">
                                    <p class="cart-product-name">DANASHOP</p>
                                    <div class="rating-area">
                                        <input type="radio" id="star-5" name="rating" value="5">
                                        <label for="star-5" title="Оценка «5»"></label>
                                        <input type="radio" id="star-4" name="rating" value="4">
                                        <label for="star-4" title="Оценка «4»"></label>
                                        <input type="radio" id="star-3" name="rating" value="3">
                                        <label for="star-3" title="Оценка «3»"></label>
                                        <input type="radio" id="star-2" name="rating" value="2">
                                        <label for="star-2" title="Оценка «2»"></label>
                                        <input type="radio" id="star-1" name="rating" value="1">
                                        <label for="star-1" title="Оценка «1»"></label>
                                    </div>
                                    <p class="cart-product-price">1 x 19900</p>
                                </div>
                            </a>
                            <i class="fa fa-times-circle cart-x" aria-hidden="true"></i>
                        </div>
                        <hr class="cart-hr">
                        <div class="cart-product">
                            <a href="{% url "single" %}" class="cart-content">
                                <img src="../../static/app/img/cart-photo2.jpg" alt="product">
                                <div class="cart-text">
                                    <p class="cart-product-name">DANASHOP</p>
                                    <div class="rating-area">
                                        <input type="radio" id="star-5" name="rating" value="5">
                                        <label for="star-5" title="Оценка «5»"></label>
                                        <input type="radio" id="star-4" name="rating" value="4">
                                        <label for="star-4" title="Оценка «4»"></label>
                                        <input type="radio" id="star-3" name="rating" value="3">
                                        <label for="star-3" title="Оценка «3»"></label>
                                        <input type="radio" id="star-2" name="rating" value="2">
                                        <label for="star-2" title="Оценка «2»"></label>
                                        <input type="radio" id="star-1" name="rating" value="1">
                                        <label for="star-1" title="Оценка «1»"></label>
                                    </div>
                                    <p class="cart-product-price">1 x 15200</p>
                                </div>
                            </a>
                            <i class="fa fa-times-circle cart-x" aria-hidden="true"></i>
                        </div>
                        <hr class="cart-hr">
                        <div class="cart-total">
                            <p>Барлығы</p>
                            <p>31500.00</p>
                        </div>
                        <a href="{% url "checkout" %}"><button class="cart-button" type="submit">Тексеру</button></a>
                        <br>
                        <a href="./{% url "shoping" %}"><button class="cart-button" type="submit">Себетке өту</button></a>
                    </div>
                </div>
            </div>
        </div>


    </header>
    <div class="header-menu">
        <div class="conteiner">
            <ol class="menu-list">
                <li class="menu-list-addmega"> <a class="menu-link link_red" href="{% url "product" %}">Басты бет</a>
                    <div class="mega-menu">
                        <div class="mega-flex">
                            <h3 class="mega-head">Әйелдер</h3>
                            <ul>
                                <li class="mega-menu-list"> <a class="mega-menu-link link_red"
                                        href="{% url "product" %}">Көйлектер</a>
                                </li>
                                <li class="mega-menu-list"> <a class="mega-menu-link link_red"
                                        href="{% url "product" %}">Топстар</a> </li>
                                <li class="mega-menu-list"> <a class="mega-menu-link link_red"
                                        href="{% url "product" %}">Жемпірлер/Тоқылған киімдер</a> </li>
                                <li class="mega-menu-list"> <a class="mega-menu-link link_red"
                                        href="{% url "product" %}">Курткалар/Коутстар</a> </li>
                                <li class="mega-menu-list"> <a class="mega-menu-link link_red"
                                        href="{% url "product" %}">Блейзерлер</a>
                                </li>
                                <li class="mega-menu-list"> <a class="mega-menu-link link_red"
                                        href="{% url "product" %}">Denim</a> </li>
                                <li class="mega-menu-list"> <a class="mega-menu-link link_red"
                                        href="{% url "product" %}">Леггинстер/Шалбарлар</a></li>
                                <li class="mega-menu-list"> <a class="mega-menu-link link_red"
                                        href="{% url "product" %}">Юбкалар/Шортылар</a></li>
                                <li class="mega-menu-list"> <a class="mega-menu-link link_red"
                                        href="{% url "product" %}">Аксессуарлар</a>
                                </li>

                            </ul>


                        </div>
                        <div class="mega-flex">
                            <h3 class="mega-head">Әйелдер</h3>
                            <ul>
                                <li class="mega-menu-list"> <a class="mega-menu-link link_red"
                                        href="{% url "product" %}">Көйлектер</a>
                                </li>
                                <li class="mega-menu-list"> <a class="mega-menu-link link_red"
                                        href="{% url "product" %}">Топстар</a> </li>
                                <li class="mega-menu-list"> <a class="mega-menu-link link_red"
                                        href="{% url "product" %}">Жемпірлер/Тоқылған киімдер</a> </li>
                                <li class="mega-menu-list"> <a class="mega-menu-link link_red"
                                        href="{% url "product" %}">Курткалар/Коутстар</a> </li>
                            </ul>
                            <h3 class="mega-head">Әйелдер</h3>
                            <ul>
                                <li class="mega-menu-list"> <a class="mega-menu-link link_red"
                                        href="{% url "product" %}">Көйлектер</a>
                                </li>
                                <li class="mega-menu-list"> <a class="mega-menu-link link_red"
                                        href="{% url "product" %}">Топстар</a> </li>
                                <li class="mega-menu-list"> <a class="mega-menu-link link_red"
                                        href="{% url "product" %}">Жемпірлер/Тоқылған киімдер</a> </li>
                            </ul>
                        </div>
                        <div class="mega-flex">
                            <h3 class="mega-head">Әйелдер</h3>
                            <ul>
                                <li class="mega-menu-list"> <a class="mega-menu-link link_red"
                                        href="{% url "product" %}">Көйлектер</a>
                                </li>
                                <li class="mega-menu-list"> <a class="mega-menu-link link_red"
                                        href="{% url "product" %}">Топстар</a> </li>
                                <li class="mega-menu-list"> <a class="mega-menu-link link_red"
                                        href="{% url "product" %}">Жемпірлер/Тоқылған киімдер</a> </li>
                                <li class="mega-menu-list"> <a class="mega-menu-link link_red"
                                        href="{% url "product" %}">Курткалар/Коутстар</a> </li>
                            </ul>
                            <a href="{% url "product" %}">
                                <img class="mega-menu-img" src="img/Super_Sale_.png" alt="Super sale">
                            </a>
                        </div>
                    </div>
                </li>
                <li class="menu-list-addmega"> <a class="menu-link link_red" href="{% url "product" %}">Man</a>
                    <div class="mega-menu">
                        <div class="mega-flex">
                            <h3 class="mega-head">Әйелдер</h3>
                            <ul>
                                <li class="mega-menu-list"> <a class="mega-menu-link link_red" href="#">Көйлектер</a>
                                </li>
                                <li class="mega-menu-list"> <a class="mega-menu-link link_red" href="#">Топстар</a> </li>
                                <li class="mega-menu-list"> <a class="mega-menu-link link_red"
                                        href="#">Жемпірлер/Тоқылған киімдер</a> </li>
                                <li class="mega-menu-list"> <a class="mega-menu-link link_red"
                                        href="#">Курткалар/Коутстар</a> </li>
                                <li class="mega-menu-list"> <a class="mega-menu-link link_red" href="#">Блейзерлер</a>
                                </li>
                                <li class="mega-menu-list"> <a class="mega-menu-link link_red" href="#">Denim</a> </li>
                                <li class="mega-menu-list"> <a class="mega-menu-link link_red"
                                        href="#">Леггинстер/Шалбарлар</a></li>
                                <li class="mega-menu-list"> <a class="mega-menu-link link_red"
                                        href="#">Юбкалар/Шортылар</a></li>
                                <li class="mega-menu-list"> <a class="mega-menu-link link_red" href="#">Аксессуарлар</a>
                                </li>

                            </ul>


                        </div>
                        <div class="mega-flex">
                            <h3 class="mega-head">Әйелдер</h3>
                            <ul>
                                <li class="mega-menu-list"> <a class="mega-menu-link link_red" href="#">Көйлектер</a>
                                </li>
                                <li class="mega-menu-list"> <a class="mega-menu-link link_red" href="#">Топстар</a> </li>
                                <li class="mega-menu-list"> <a class="mega-menu-link link_red"
                                        href="#">Жемпірлер/Тоқылған киімдер</a> </li>
                                <li class="mega-menu-list"> <a class="mega-menu-link link_red"
                                        href="#">Курткалар/Коутстар</a> </li>
                            </ul>
                            <h3 class="mega-head">Әйелдер</h3>
                            <ul>
                                <li class="mega-menu-list"> <a class="mega-menu-link link_red" href="#">Көйлектер</a>
                                </li>
                                <li class="mega-menu-list"> <a class="mega-menu-link link_red" href="#">Топстар</a> </li>
                                <li class="mega-menu-list"> <a class="mega-menu-link link_red"
                                        href="#">Жемпірлер/Тоқылған киімдер</a> </li>
                            </ul>
                        </div>
                        <div class="mega-flex">
                            <h3 class="mega-head">Әйелдер</h3>
                            <ul>
                                <li class="mega-menu-list"> <a class="mega-menu-link link_red" href="#">Көйлектер</a>
                                </li>
                                <li class="mega-menu-list"> <a class="mega-menu-link link_red" href="#">Топстар</a> </li>
                                <li class="mega-menu-list"> <a class="mega-menu-link link_red"
                                        href="#">Жемпірлер/Тоқылған киімдер</a> </li>
                                <li class="mega-menu-list"> <a class="mega-menu-link link_red"
                                        href="#">Курткалар/Коутстар</a> </li>
                            </ul>
                            <a href="{% url "product" %}">
                                <img class="mega-menu-img" src="img/Super_Sale_.png" alt="Super sale">
                            </a>
                        </div>
                    </div>
                </li>
                <li class="menu-list-addmega"> <a class="menu-link link_red" href="{% url "product" %}">Әйелдер</a>
                    <div class="mega-menu">
                        <div class="mega-flex">
                            <h3 class="mega-head">Әйелдер</h3>
                            <ul>
                                <li class="mega-menu-list"> <a class="mega-menu-link link_red" href="#">Көйлектер</a>
                                </li>
                                <li class="mega-menu-list"> <a class="mega-menu-link link_red" href="#">Топстар</a> </li>
                                <li class="mega-menu-list"> <a class="mega-menu-link link_red"
                                        href="#">Жемпірлер/Тоқылған киімдер</a> </li>
                                <li class="mega-menu-list"> <a class="mega-menu-link link_red"
                                        href="#">Курткалар/Коутстар</a> </li>
                                <li class="mega-menu-list"> <a class="mega-menu-link link_red" href="#">Блейзерлер</a>
                                </li>
                                <li class="mega-menu-list"> <a class="mega-menu-link link_red" href="#">Denim</a> </li>
                                <li class="mega-menu-list"> <a class="mega-menu-link link_red"
                                        href="#">Леггинстер/Шалбарлар</a></li>
                                <li class="mega-menu-list"> <a class="mega-menu-link link_red"
                                        href="#">Юбкалар/Шортылар</a></li>
                                <li class="mega-menu-list"> <a class="mega-menu-link link_red" href="#">Аксессуарлар</a>
                                </li>

                            </ul>


                        </div>
                        <div class="mega-flex">
                            <h3 class="mega-head">Әйелдер</h3>
                            <ul>
                                <li class="mega-menu-list"> <a class="mega-menu-link link_red" href="#">Көйлектер</a>
                                </li>
                                <li class="mega-menu-list"> <a class="mega-menu-link link_red" href="#">Топстар</a> </li>
                                <li class="mega-menu-list"> <a class="mega-menu-link link_red"
                                        href="#">Жемпірлер/Тоқылған киімдер</a> </li>
                                <li class="mega-menu-list"> <a class="mega-menu-link link_red"
                                        href="#">Курткалар/Коутстар</a> </li>
                            </ul>
                            <h3 class="mega-head">Әйелдер</h3>
                            <ul>
                                <li class="mega-menu-list"> <a class="mega-menu-link link_red" href="#">Көйлектер</a>
                                </li>
                                <li class="mega-menu-list"> <a class="mega-menu-link link_red" href="#">Топстар</a> </li>
                                <li class="mega-menu-list"> <a class="mega-menu-link link_red"
                                        href="#">Жемпірлер/Тоқылған киімдер</a> </li>
                            </ul>
                        </div>
                        <div class="mega-flex">
                            <h3 class="mega-head">Әйелдер</h3>
                            <ul>
                                <li class="mega-menu-list"> <a class="mega-menu-link link_red" href="#">Көйлектер</a>
                                </li>
                                <li class="mega-menu-list"> <a class="mega-menu-link link_red" href="#">Топстар</a> </li>
                                <li class="mega-menu-list"> <a class="mega-menu-link link_red"
                                        href="#">Жемпірлер/Тоқылған киімдер</a> </li>
                                <li class="mega-menu-list"> <a class="mega-menu-link link_red"
                                        href="#">Курткалар/Коутстар</a> </li>
                            </ul>
                            <a href="{% url "product" %}">
                                <img class="mega-menu-img" src="img/Super_Sale_.png" alt="Super sale">
                            </a>
                        </div>
                    </div>
                </li>
                <li class="menu-list-addmega"> <a class="menu-link link_red" href="{% url "product" %}">Kids</a>
                    <div class="mega-menu">
                        <div class="mega-flex">
                            <h3 class="mega-head">Әйелдер</h3>
                            <ul>
                                <li class="mega-menu-list"> <a class="mega-menu-link link_red" href="#">Көйлектер</a>
                                </li>
                                <li class="mega-menu-list"> <a class="mega-menu-link link_red" href="#">Топстар</a> </li>
                                <li class="mega-menu-list"> <a class="mega-menu-link link_red"
                                        href="#">Жемпірлер/Тоқылған киімдер</a> </li>
                                <li class="mega-menu-list"> <a class="mega-menu-link link_red"
                                        href="#">Курткалар/Коутстар</a> </li>
                                <li class="mega-menu-list"> <a class="mega-menu-link link_red" href="#">Блейзерлер</a>
                                </li>
                                <li class="mega-menu-list"> <a class="mega-menu-link link_red" href="#">Denim</a> </li>
                                <li class="mega-menu-list"> <a class="mega-menu-link link_red"
                                        href="#">Леггинстер/Шалбарлар</a></li>
                                <li class="mega-menu-list"> <a class="mega-menu-link link_red"
                                        href="#">Юбкалар/Шортылар</a></li>
                                <li class="mega-menu-list"> <a class="mega-menu-link link_red" href="#">Аксессуарлар</a>
                                </li>

                            </ul>


                        </div>
                        <div class="mega-flex">
                            <h3 class="mega-head">Әйелдер</h3>
                            <ul>
                                <li class="mega-menu-list"> <a class="mega-menu-link link_red" href="#">Көйлектер</a>
                                </li>
                                <li class="mega-menu-list"> <a class="mega-menu-link link_red" href="#">Топстар</a> </li>
                                <li class="mega-menu-list"> <a class="mega-menu-link link_red"
                                        href="#">Жемпірлер/Тоқылған киімдер</a> </li>
                                <li class="mega-menu-list"> <a class="mega-menu-link link_red"
                                        href="#">Курткалар/Коутстар</a> </li>
                            </ul>
                            <h3 class="mega-head">Әйелдер</h3>
                            <ul>
                                <li class="mega-menu-list"> <a class="mega-menu-link link_red" href="#">Көйлектер</a>
                                </li>
                                <li class="mega-menu-list"> <a class="mega-menu-link link_red" href="#">Топстар</a> </li>
                                <li class="mega-menu-list"> <a class="mega-menu-link link_red"
                                        href="#">Жемпірлер/Тоқылған киімдер</a> </li>
                            </ul>
                        </div>
                        <div class="mega-flex">
                            <h3 class="mega-head">Әйелдер</h3>
                            <ul>
                                <li class="mega-menu-list"> <a class="mega-menu-link link_red" href="#">Көйлектер</a>
                                </li>
                                <li class="mega-menu-list"> <a class="mega-menu-link link_red" href="#">Топстар</a> </li>
                                <li class="mega-menu-list"> <a class="mega-menu-link link_red"
                                        href="#">Жемпірлер/Тоқылған киімдер</a> </li>
                                <li class="mega-menu-list"> <a class="mega-menu-link link_red"
                                        href="#">Курткалар/Коутстар</a> </li>
                            </ul>
                            <a href="{% url "product" %}">
                                <img class="mega-menu-img" src="img/Super_Sale_.png" alt="Super sale">
                            </a>
                        </div>
                    </div>
                </li>
                <li class="menu-list-addmega"> <a class="menu-link link_red" href="{% url "product" %}">Accoseriese</a>
                    <div class="mega-menu">
                        <div class="mega-flex">
                            <h3 class="mega-head">Әйелдер</h3>
                            <ul>
                                <li class="mega-menu-list"> <a class="mega-menu-link link_red" href="#">Көйлектер</a>
                                </li>
                                <li class="mega-menu-list"> <a class="mega-menu-link link_red" href="#">Топстар</a> </li>
                                <li class="mega-menu-list"> <a class="mega-menu-link link_red"
                                        href="#">Жемпірлер/Тоқылған киімдер</a> </li>
                                <li class="mega-menu-list"> <a class="mega-menu-link link_red"
                                        href="#">Курткалар/Коутстар</a> </li>
                                <li class="mega-menu-list"> <a class="mega-menu-link link_red" href="#">Блейзерлер</a>
                                </li>
                                <li class="mega-menu-list"> <a class="mega-menu-link link_red" href="#">Denim</a> </li>
                                <li class="mega-menu-list"> <a class="mega-menu-link link_red"
                                        href="#">Леггинстер/Шалбарлар</a></li>
                                <li class="mega-menu-list"> <a class="mega-menu-link link_red"
                                        href="#">Юбкалар/Шортылар</a></li>
                                <li class="mega-menu-list"> <a class="mega-menu-link link_red" href="#">Аксессуарлар</a>
                                </li>

                            </ul>


                        </div>
                        <div class="mega-flex">
                            <h3 class="mega-head">Әйелдер</h3>
                            <ul>
                                <li class="mega-menu-list"> <a class="mega-menu-link link_red" href="#">Көйлектер</a>
                                </li>
                                <li class="mega-menu-list"> <a class="mega-menu-link link_red" href="#">Топстар</a> </li>
                                <li class="mega-menu-list"> <a class="mega-menu-link link_red"
                                        href="#">Жемпірлер/Тоқылған киімдер</a> </li>
                                <li class="mega-menu-list"> <a class="mega-menu-link link_red"
                                        href="#">Курткалар/Коутстар</a> </li>
                            </ul>
                            <h3 class="mega-head">Әйелдер</h3>
                            <ul>
                                <li class="mega-menu-list"> <a class="mega-menu-link link_red" href="#">Көйлектер</a>
                                </li>
                                <li class="mega-menu-list"> <a class="mega-menu-link link_red" href="#">Топстар</a> </li>
                                <li class="mega-menu-list"> <a class="mega-menu-link link_red"
                                        href="#">Жемпірлер/Тоқылған киімдер</a> </li>
                            </ul>
                        </div>
                        <div class="mega-flex">
                            <h3 class="mega-head">Әйелдер</h3>
                            <ul>
                                <li class="mega-menu-list"> <a class="mega-menu-link link_red" href="#">Көйлектер</a>
                                </li>
                                <li class="mega-menu-list"> <a class="mega-menu-link link_red" href="#">Топстар</a> </li>
                                <li class="mega-menu-list"> <a class="mega-menu-link link_red"
                                        href="#">Жемпірлер/Тоқылған киімдер</a> </li>
                                <li class="mega-menu-list"> <a class="mega-menu-link link_red"
                                        href="#">Курткалар/Коутстар</a> </li>
                            </ul>
                            <a href="{% url "product" %}">
                                <img class="mega-menu-img" src="img/Super_Sale_.png" alt="Super sale">
                            </a>
                        </div>
                    </div>
                </li>
                <li class="menu-list-addmega"> <a class="menu-link link_red" href="{% url "product" %}">Featured</a>
                    <div class="mega-menu">
                        <div class="mega-flex">
                            <h3 class="mega-head">Әйелдер</h3>
                            <ul>
                                <li class="mega-menu-list"> <a class="mega-menu-link link_red" href="#">Көйлектер</a>
                                </li>
                                <li class="mega-menu-list"> <a class="mega-menu-link link_red" href="#">Топстар</a> </li>
                                <li class="mega-menu-list"> <a class="mega-menu-link link_red"
                                        href="#">Жемпірлер/Тоқылған киімдер</a> </li>
                                <li class="mega-menu-list"> <a class="mega-menu-link link_red"
                                        href="#">Курткалар/Коутстар</a> </li>
                                <li class="mega-menu-list"> <a class="mega-menu-link link_red" href="#">Блейзерлер</a>
                                </li>
                                <li class="mega-menu-list"> <a class="mega-menu-link link_red" href="#">Denim</a> </li>
                                <li class="mega-menu-list"> <a class="mega-menu-link link_red"
                                        href="#">Леггинстер/Шалбарлар</a></li>
                                <li class="mega-menu-list"> <a class="mega-menu-link link_red"
                                        href="#">Юбкалар/Шортылар</a></li>
                                <li class="mega-menu-list"> <a class="mega-menu-link link_red" href="#">Аксессуарлар</a>
                                </li>

                            </ul>


                        </div>
                        <div class="mega-flex">
                            <h3 class="mega-head">Әйелдер</h3>
                            <ul>
                                <li class="mega-menu-list"> <a class="mega-menu-link link_red" href="#">Көйлектер</a>
                                </li>
                                <li class="mega-menu-list"> <a class="mega-menu-link link_red" href="#">Топстар</a> </li>
                                <li class="mega-menu-list"> <a class="mega-menu-link link_red"
                                        href="#">Жемпірлер/Тоқылған киімдер</a> </li>
                                <li class="mega-menu-list"> <a class="mega-menu-link link_red"
                                        href="#">Курткалар/Коутстар</a> </li>
                            </ul>
                            <h3 class="mega-head">Әйелдер</h3>
                            <ul>
                                <li class="mega-menu-list"> <a class="mega-menu-link link_red" href="#">Көйлектер</a>
                                </li>
                                <li class="mega-menu-list"> <a class="mega-menu-link link_red" href="#">Топстар</a> </li>
                                <li class="mega-menu-list"> <a class="mega-menu-link link_red"
                                        href="#">Жемпірлер/Тоқылған киімдер</a> </li>
                            </ul>
                        </div>
                        <div class="mega-flex">
                            <h3 class="mega-head">Әйелдер</h3>
                            <ul>
                                <li class="mega-menu-list"> <a class="mega-menu-link link_red" href="#">Көйлектер</a>
                                </li>
                                <li class="mega-menu-list"> <a class="mega-menu-link link_red" href="#">Топстар</a> </li>
                                <li class="mega-menu-list"> <a class="mega-menu-link link_red"
                                        href="#">Жемпірлер/Тоқылған киімдер</a> </li>
                                <li class="mega-menu-list"> <a class="mega-menu-link link_red"
                                        href="#">Курткалар/Коутстар</a> </li>
                            </ul>
                            <a href="{% url "product" %}">
                                <img class="mega-menu-img" src="img/Super_Sale_.png" alt="Super sale">
                            </a>
                        </div>
                    </div>
                </li>
                <li class="menu-list-addmega"> <a class="menu-link link_red" href="{% url "product" %}">Hot Deals</a>
                    <div class="mega-menu">
                        <div class="mega-flex">
                            <h3 class="mega-head">Әйелдер</h3>
                            <ul>
                                <li class="mega-menu-list"> <a class="mega-menu-link link_red" href="#">Көйлектер</a>
                                </li>
                                <li class="mega-menu-list"> <a class="mega-menu-link link_red" href="#">Топстар</a> </li>
                                <li class="mega-menu-list"> <a class="mega-menu-link link_red"
                                        href="#">Жемпірлер/Тоқылған киімдер</a> </li>
                                <li class="mega-menu-list"> <a class="mega-menu-link link_red"
                                        href="#">Курткалар/Коутстар</a> </li>
                                <li class="mega-menu-list"> <a class="mega-menu-link link_red" href="#">Блейзерлер</a>
                                </li>
                                <li class="mega-menu-list"> <a class="mega-menu-link link_red" href="#">Denim</a> </li>
                                <li class="mega-menu-list"> <a class="mega-menu-link link_red"
                                        href="#">Леггинстер/Шалбарлар</a></li>
                                <li class="mega-menu-list"> <a class="mega-menu-link link_red"
                                        href="#">Юбкалар/Шортылар</a></li>
                                <li class="mega-menu-list"> <a class="mega-menu-link link_red" href="#">Аксессуарлар</a>
                                </li>

                            </ul>


                        </div>
                        <div class="mega-flex">
                            <h3 class="mega-head">Әйелдер</h3>
                            <ul>
                                <li class="mega-menu-list"> <a class="mega-menu-link link_red" href="#">Көйлектер</a>
                                </li>
                                <li class="mega-menu-list"> <a class="mega-menu-link link_red" href="#">Топстар</a> </li>
                                <li class="mega-menu-list"> <a class="mega-menu-link link_red"
                                        href="#">Жемпірлер/Тоқылған киімдер</a> </li>
                                <li class="mega-menu-list"> <a class="mega-menu-link link_red"
                                        href="#">Курткалар/Коутстар</a> </li>
                            </ul>
                            <h3 class="mega-head">Әйелдер</h3>
                            <ul>
                                <li class="mega-menu-list"> <a class="mega-menu-link link_red" href="#">Көйлектер</a>
                                </li>
                                <li class="mega-menu-list"> <a class="mega-menu-link link_red" href="#">Топстар</a> </li>
                                <li class="mega-menu-list"> <a class="mega-menu-link link_red"
                                        href="#">Жемпірлер/Тоқылған киімдер</a> </li>
                            </ul>
                        </div>
                        <div class="mega-flex">
                            <h3 class="mega-head">Әйелдер</h3>
                            <ul>
                                <li class="mega-menu-list"> <a class="mega-menu-link link_red" href="#">Көйлектер</a>
                                </li>
                                <li class="mega-menu-list"> <a class="mega-menu-link link_red" href="#">Топстар</a> </li>
                                <li class="mega-menu-list"> <a class="mega-menu-link link_red"
                                        href="#">Жемпірлер/Тоқылған киімдер</a> </li>
                                <li class="mega-menu-list"> <a class="mega-menu-link link_red"
                                        href="#">Курткалар/Коутстар</a> </li>
                            </ul>
                            <a href="{% url "product" %}">
                                <img class="mega-menu-img" src="img/Super_Sale_.png" alt="Super sale">
                            </a>
                        </div>
                    </div>
                </li>
            </ol>
        </div>
    </div>
    <nav class="header-nav">
        <div class="conteiner">
            <div class="nav-flex">
                <p class="nav-text-left red-text">Жаңа түсімдер </p>
                <p class="nav-text-right">
                    <a href="#" class="nav-link link_red">Басты бет</a> /
                    <a href="#" class="nav-link link_red">Ерлер</a> /
                    <a href="#" class="nav-link link_red">Жаңа түсімдер</a>
                </p>
            </div>


        </div>

    </nav>
    <div class="assort conteiner">
        <div class="assort_flex">
            <div class="assort_header-left">
                <p class="assort_title text_black">Өнім туралы толық ақпарат</p>
            </div>
            <div class="assort_header-right">
                <p class="assort_title text_black">бағаны біріктіріңіз</p>
                <p class="assort_title text_black">Саны</p>
                <p class="assort_title text_black">жеткізу</p>
                <p class="assort_title text_black">Аралық қорытынды</p>
                <p class="assort_title text_black">әрекет</p>
            </div>
        </div>
        <div class="sodcor">
            <div class="assort_flex">
                <a href="{% url "single" %}" class="assort_product">
                    <img src="../../static/app/img/assort1.jpg" alt="photo">
                    <div class="assort-photo_text assort_text">
                        <p class="assort_photo-title">DANASHOP</p>
                        <div class="rating_flex">
                            <div class="rating-area">
                                <input type="radio" id="star-5" name="rating" value="5">
                                <label for="star-5" title="Оценка «5»"></label>
                                <input type="radio" id="star-4" name="rating" value="4">
                                <label for="star-4" title="Оценка «4»"></label>
                                <input type="radio" id="star-3" name="rating" value="3">
                                <label for="star-3" title="Оценка «3»"></label>
                                <input type="radio" id="star-2" name="rating" value="2">
                                <label for="star-2" title="Оценка «2»"></label>
                                <input type="radio" id="star-1" name="rating" value="1">
                                <label for="star-1" title="Оценка «1»"></label>
                            </div>
                        </div>
                        <p class="assort_photo-colorsize">
                            Түсі: <span class="assort_photo-colorsize_gray"> Қызыл</span><br>
                            размері: <span class="assort_photo-colorsize_gray"> Xll</span></p>
                    </div>
                </a>
                <div class="assort_details assort_text">
                    <p class="assort__price">15000</p>
                    <p class="assort__quantity">2</p>
                    <p class="assort__shipping">тегін</p>
                    <p class="assort__subtotal">30000</p>
                    <a href="#">
                        <i class="fa fa-times-circle cart-x" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
            <div class="assort_flex">
                <a href="{% url "single" %}" class="assort_product">
                    <img src="../../static/app/img/assort2.jpg" alt="photo">
                    <div class="assort-photo_text assort_text">
                        <p class="assort_photo-title">DANASHOP</p>
                        <div class="rating_flex">
                            <div class="rating-area">
                                <input type="radio" id="star-5" name="rating" value="5">
                                <label for="star-5" title="Оценка «5»"></label>
                                <input type="radio" id="star-4" name="rating" value="4">
                                <label for="star-4" title="Оценка «4»"></label>
                                <input type="radio" id="star-3" name="rating" value="3">
                                <label for="star-3" title="Оценка «3»"></label>
                                <input type="radio" id="star-2" name="rating" value="2">
                                <label for="star-2" title="Оценка «2»"></label>
                                <input type="radio" id="star-1" name="rating" value="1">
                                <label for="star-1" title="Оценка «1»"></label>
                            </div>
                        </div>
                        <p class="assort_photo-colorsize">
                            Түсі: <span class="assort_photo-colorsize_gray"> Қызыл</span><br>
                            размері: <span class="assort_photo-colorsize_gray"> Xll</span></p>
                    </div>
                </a>
                <div class="assort_details assort_text">
                    <p class="assort__price">12150</p>
                    <p class="assort__quantity">2</p>
                    <p class="assort__shipping">тегін</p>
                    <p class="assort__subtotal">24300</p>
                    <a href="#">
                        <i class="fa fa-times-circle cart-x" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
            <div class="assort_flex">
                <a href="{% url "single" %}" class="assort_product">
                    <img src="../../static/app/img/assort3.jpg" alt="photo">
                    <div class="assort-photo_text assort_text">
                        <p class="assort_photo-title">DANASHOP</p>
                        <div class="rating_flex">
                            <div class="rating-area">
                                <input type="radio" id="star-5" name="rating" value="5">
                                <label for="star-5" title="Оценка «5»"></label>
                                <input type="radio" id="star-4" name="rating" value="4">
                                <label for="star-4" title="Оценка «4»"></label>
                                <input type="radio" id="star-3" name="rating" value="3">
                                <label for="star-3" title="Оценка «3»"></label>
                                <input type="radio" id="star-2" name="rating" value="2">
                                <label for="star-2" title="Оценка «2»"></label>
                                <input type="radio" id="star-1" name="rating" value="1">
                                <label for="star-1" title="Оценка «1»"></label>
                            </div>
                        </div>
                        <p class="assort_photo-colorsize">
                            Түсі: <span class="assort_photo-colorsize_gray"> Қызыл</span><br>
                            размері: <span class="assort_photo-colorsize_gray"> Xll</span></p>
                    </div>
                </a>
                <div class="assort_details assort_text">
                    <p class="assort__price">9150</p>
                    <p class="assort__quantity">2</p>
                    <p class="assort__shipping">тегін</p>
                    <p class="assort__subtotal">18300</p>
                    <a href="#">
                        <i class="fa fa-times-circle cart-x" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="shopping__button">
            <button class="cart-button shopping__button_width1" type="submit">Сауда себетін тазалаңыз</button>
            <button class="cart-button shopping__button_width2" type="submit">Дүкенге аралауды жалғастырыңыз</button>
        </div>
        <form action="#" class="Shopping__form">
            <div class="shopping__shipping">
                <p class="text_black">жеткізу мекенжайы</p>
                <input type="text" class="Shipping__input" id="Shipping__input1" placeholder="Bangladesh">
                <a href="#" class="shipping_caret-down">
                    <i class="fas fa-caret-down" aria-hidden="true"></i>
                </a>
                <input type="text" class="Shipping__input" id="Shipping__input2" placeholder="State">
                <input type="text" class="Shipping__input" id="Shipping__input3" placeholder="Postcode / Zip">
                <br>
                <button class="cart-button shopping__button-form" id="cart-button-shopping__button-form1" type="submit">дәйексөз алыңыз</button>
            </div>
            <div class="shopping__coupon">
                <p class="text_black">купон бойынша жеңілдік</p>
                <p class="coupon__text">Егер сізде купон бар болса, купон кодын енгізіңіз</p>
                <input type="text" class="Shipping__input" id="Shipping__input4" placeholder="State">
                <button class="cart-button shopping__button-form" id="cart-button-shopping__button-form2" type="submit">Купонды қолдану</button>
            </div>
            <div class="shopping__total">

                <p class="shopping__total_style">Аралық жиынтық &emsp; 72600</p>
                <p class="shopping__total_border text_black">Жалпы сомасы &emsp; <span class="red-text">72600</span></p>
                <button class="total__button text_black link_background" type="submit">тапсырысты рәсімдеуге өтіңіз</button>
            </div>
        </form>
    </div>

    <footer class="footer">
        <div class="sub">
            <img src="../../static/app/img/sub_fon+.png" class="sub-fon" alt="sub">
            <div class="conteiner">
                <div class="sub-content">
                    <div class="sub-left">
                        <img src="../../static/app/img/photo2.png" alt="photo">
                        <div class="sub-text-left">
                            <p>Cән тауарларын сатуға арналған веб парақша</p>
                            <p class="sub-text-left2"> <span class="sub-text-red">DANASHOP</span> <br>
                                DANASHOP</p>
                            <ul class="corousel">
                                <li><a href="#" class="corousel-link link_background"></a></li>
                                <li><a href="#" class="corousel-link link_background"></a></li>
                                <li><a href="#" class="corousel-link link_background"></a></li>
                            </ul>
                        </div>


                    </div>
                    <hr class="sub-hr">
                    <div class="sub-right">
                        <p><span class="sub-right-header">Жазылу</span> <br>
                            БІЗДІҢ АҚПАРАТТЫҚ БЮЛЛЕТЕНЬДЕР МЕН ЖАРНАМАЛАР ҮШІН</p>
                        <input type="email" class="sub-input" placeholder="Enter Your Email">
                        <button class="sub-button link_background" id="submitButton" type="submit">Жазылу</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-menu conteiner">
            <div class="footer-left">
                <div class="footer-logo">
                    <a href="{% url "home" %}" class="logo-link">
                        <img class="logo-img" src="../../static/app/img/logo.png" alt="logo">
                        <p class="logo__header">DANA<span class="red-text">SHOP</span></p>
                    </a>
                </div>
                <p class="footer-menu-text">Cән тауарларын сатуға арналған веб парақша
                    <br><br><br>
                    DANASHOP@gmail.com               </p>
            </div>
            <ul class="footer-right">
                <li>
                    <ul class="footer-list">Компания
                        <br><br><br>
                        <li> <a href="{% url "home" %}" class="footer-link link_red">БАСТЫ БЕТ</a></li>
                        <li> <a href="{% url "product" %}" class="footer-link link_red">Дүкен </a></li>
                        <li> <a href="{% url "checkout" %}" class="footer-link link_red">туралы </a></li>
                        <li> <a href="{% url "checkout" %}" class="footer-link link_red">  бұл қалай жұмыс істейді </a></li>
                        <li> <a href="{% url "checkout" %}" class="footer-link link_red">Байланыс </a></li>


                    </ul>
                </li>
                <li>
                    <ul class="footer-list">Ақпарат
                        <br><br><br>
                        <li> <a href="{% url "checkout" %}" class="footer-link link_red">Командалар & Жағдайы </a></li>
                        <li> <a href="{% url "checkout" %}" class="footer-link link_red">құпиялылық саясаты </a></li>
                        <li> <a href="{% url "checkout" %}" class="footer-link link_red">Қалай сатып алуға болады </a></li>
                        <li> <a href="{% url "checkout" %}" class="footer-link link_red">Қалай сатуға болады </a></li>
                        <li> <a href="{% url "checkout" %}" class="footer-link link_red">прогресс </a></li>

                    </ul>

                </li>
                <li>
                    <ul class="footer-list">ДҮКЕН САНАТЫ
                        <br><br><br>
                        <li> <a href="{% url "product" %}" class="footer-link link_red">Ерлер</a></li>
                        <li> <a href="{% url "product" %}" class="footer-link link_red">Әйелдер</a></li>
                        <li> <a href="{% url "product" %}" class="footer-link link_red">Балалар</a></li>
                        <li> <a href="{% url "product" %}" class="footer-link link_red">Киім</a></li>
                        <li> <a href="{% url "product" %}" class="footer-link link_red">Барлығын көру</a></li>

                    </ul>
                </li>
            </ul>



        </div>
        <div class="footer-bottom">
            <div class="conteiner">
                <div class="footer-flex">
                    <p class="copyright">© 2023 жылғы Бренд, Барлық құқықтар қорғалған. </p>
                    <ul class="social_network">
                        <li class="social-list"><a href="#" class="social-link link_background"><i
                                    class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li class="social-list"><a href="#" class="social-link link_background"><i class="fa fa-twitter"
                                    aria-hidden="true"></i></a></li>
                        <li class="social-list"><a href="#" class="social-link link_background"><i
                                    class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                        <li class="social-list"><a href="#" class="social-link link_background"><i
                                    class="fa fa-pinterest" aria-hidden="true"></i></a></li>
                        <li class="social-list"><a href="#" class="social-link link_background"><i
                                    class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                    </ul>

                </div>


            </div>


        </div>

    </footer>
    <script src="C:\Users\artus\OneDrive\Рабочий стол\Сән тауарларын сатуға арналған веб\Сән тауарларын сатуға арналған веб\script.js"></script>
</body>

</html>