<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>user_log</title>
    <link rel="stylesheet" href="{% static "app/css/user_log.css" %}">
</head>
<body>
<div class="user_log">
    <ul class="list_user">
        <li class="username"><span>Имя пользывателя:</span>Френк</li>
        <li><span>баланс на счету:</span>0</li>
        <li><span>Заказов в корзине:</span>0</li>
        <li><span>Дата регистраций:</span>22.01.2022</li>
    </ul>
</div>
</body>
</html>