.log_form{
    margin: 0 auto;
    max-width: 400px;
    font-family: Lato,sans-serif;
    font-size: 18px;
}
.form-label{
    margin-right: 15px;
    color: #f16d7f;;
    width: 150px;
    display: inline-block;
}
.form-input{
    background: #ffffff;
    border: solid #f16d7f 1px;
    border-radius: 5px;
    padding: 5px;
}
.button_log{
    display: block;
    margin: 5px 50% 5px 30%;
    text-decoration: none;
    text-align: center;
    background-color: hotpink;
    border-radius: 12px;
    height: 30px;
    font-size: 18px;
    color: white;
    border: solid 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.reg_button{
    display: block;
    margin: 10px 50% 5px 27%;
}